<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PROJECT 01</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Read It!</h1>
        <p>Book reviews and discussion</p>
        <button id="addBook">Add Book</button>
      </div>
      <div class ="container bookBox">
      </div>
      <div class ="addBookForm">
        <form id="createBook">
          <input type="text" name="contributor" placeholder="Contributor">
          <input type="text" name="title" placeholder="Title">
          <input type="text" name="author" placeholder="Author">
          <input type="text" name="genre" placeholder="Genre">
          <input type="submit"
        </form>
      </div>
  </body>
</html>
