//this will be the html of the page displaying individual book and reviews
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SHOW PAGE</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/show.js"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
            <script id="books-template" type="text/x-handlebars-template">
        
                <li class="list-group-item book" data-id="{{_id}}">
                  <p><b>Contributor: </b>{{contributor}}</p>
                  <p><b>Title: </b>{{title}}</p>
                  <p><b>Author: </b>{{author}}</p>
                  <p><b>Genre: </b>{{genre}}</p>
                </li>
          
            </script>
        
      </div>

      <div class ="container bookDisplay">
        BOOK INFO WILL GO HERE
      </div>

      <div class ="updateBookForm">
        <form id="updateBook">
          <input type="text" name="contributor" id = "contributor" placeholder="Contributor">
          <input type="text" name="title" id ="title" placeholder="Title">
          <input type="text" name="author" id="author" placeholder="Author">
          <input type="text" name="genre" id="genre" placeholder="Genre">
          <button type="submit" id="createBookButton">Update Book</button>
        </form>
      </div>
      
    
        <button id="deleteBook">Delete Book</button>

     
  </body>
</html>
