body {
	background-color: lightblue;
}

#thanos {
	float: right;
    height: 150px;
    margin: 15px;
    border-radius: 30px;
}

li {
	margin: 20px;
    border-radius: 25px;
    font-size: large;
}

#editEntry {
	margin-left: 15px;
}

.book {
	cursor: pointer; 
	cursor: hand; 
}

.reviewTitle {
	text-align: center;
}

#dateDisplay {
	float: right;
}

.bookDisplay {
	margin-bottom: 15px;
}

#reviewerInput {
	margin-top: 15px;
}

.homepage{
	background:url('/images/infinity2.jpg') no-repeat center center;
	min-height:100%;
	background-size:cover;
}

.top {
	font-family: 'UnifrakturMaguntia', cursive;
	color: #CED807;
	margin-top: 25px;
	text-shadow: 2px 2px #ff0000;
}

.book {
	opacity: 0.8;
}

.homepageImages {
	float: right;
	height: 130px;
	opacity: 1;
}
